.base{
	/*background-color: blue;*/
	background-image: url("imagenes/fondo1.jpg");
}
.sec1{
	/*background-color: blue;*/
	background-image: url("imagenes/cropped-technology_header.png");
}
.sec2{background-color: black;}
.sec3{background-color: yellow;}
.sec4{background-color: green;}
.sec5{background-color: pink;}