body {
  position: relative;
  width: 21cm;  
  height: 29.7cm; 
  margin: 0 auto; 
  color: #001028;
  background: #FFFFFF; 
  font-family: Arial, sans-serif; 
  font-size: 12px; 
  font-family: Arial;
}

h5 {
  border-radius: 14px 14px 14px 14px;
-moz-border-radius: 14px 14px 14px 14px;
-webkit-border-radius: 14px 14px 14px 14px;
  border: 2px solid  #030303;
  color: #030303;
  font-size: 0.7em;
  line-height: 1.4em;
  font-weight: normal;
  text-align: center;
  margin: 0 0 20px 0;
}

hr {
  border: 1;
  color: #030303;
}

td{
  font-size: large;
}
h2{
  font-size: 1.2em;
}
h1{
  font-size: 1.5em;
}
h3{
  font-size: 0.8em;
}