#capa3{ 
 position:absolute;/*LOGO*/
 z-index:1;
 width:220px;
 top:50px;
 left: 10px;
}
#capa1{ 
    z-index: 1;
    /* background-color: yellow; */
    left: 20px;
    width: 404px;
    top: -40px;
    height: 30px;
    position: absolute;
    text-align: center;
}
#capa1 h2{
    font-size: 19px;
}
#capa1 h6{
    margin-top: -13px;
}
#capa1 p{
        margin-top: -25px;
    font-size: 12px;   
}

#capa4{ 
    /* font-family: Arial, Helvetica, sans-serif; */
    /* border: 2px solid gray; */
    position: absolute;
    /* text-align: center; */
    z-index: 1;
    top: 164px;
    width: 440px;
    left: 10px;
    /* line-height: 25px; */
    
}

#capa4 table{
    font-size: 10px;
}
#capa2{/*IMAGEN DE FACTURA*/
 position:absolute;
 top:20px;
 z-index:0;
}

#capa2 img{
	width: 100%;
}

#capa3 img{
    width: 110px;
    height: 90px;
}
body {
  position: relative;
  width: 26cm;  
  height: 29.7cm; 
  margin: 0 auto; 
  font-family: sans-serif;
}
hr{
  visibility: hidden;
}

#capa5{
    position: absolute;
    top: 1240px;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 2px
}

#copia{    
    left: 519px;
    position: absolute;
}

#capa6{
    z-index: 1;
    /* width: 404px; */
    top: 265px;
    position: absolute;
    
    left: 124px;
    font-size: 9.5px;
    text-align: right;
}
#capa6 td{
    min-width: 70px;
    height: 12px;
}

#capa7{
    z-index: 1;
    /* width: 404px; */
    top: 265px;
    position: absolute;
    
    left: 345px;
    font-size: 9.5px;
    text-align: right;
}
#capa7 td{
    min-width: 50px;
    height: 12px;
}
#total{
    z-index: 1;
    width: 100px;
    top: 407px;
    position: absolute;
    left: 352px;
    text-align: right;
    /* background-color: yellow; */
    height: 50px;
    font-size: 13px;
}

#letras{
    z-index: 1;
    top: 457px;
    position: absolute;
    font-size: 9px;
    left: 13px;
}

#fecha{
    z-index: 1;
    top: 487px;
    position: absolute;
    font-size: 9px;
    left: 240px;
}

#reu{
    z-index: 1;
    top: 197px;
    position: absolute;
    font-size: 9px;
    left: 240px;
}