#capa3{ 
 position:absolute;/*LOGO*/
 z-index:1;
 width:220px;
 top:50px;
 left: 17px;
}
#capa1{ 
    z-index: 1;
    /* background-color: yellow; */
    left: 28px;
    width: 404px;
    top: -40px;
    height: 30px;
    position: absolute;
    text-align: center;
}
#capa1 h2{
    font-size: 19px;
}
#capa1 h6{
    margin-top: -13px;
}
#capa1 p{
        margin-top: -25px;
    font-size: 12px;   
}

#capa4{ 
    font-family: Arial, Helvetica, sans-serif; */
    /* border: 2px solid gray; */
    position: absolute;
    /* text-align: center; */
    z-index: 1;
    top: 178px;
    width: 440px;
       left: 13px;
    position: absolute;
    /* line-height: 25px; */
}

#capa4 table{
    font-size: 11px;
}
#capa2{/*IMAGEN DE FACTURA*/
 position:absolute;
 top:20px;
 z-index:0;
}

#capa2 img{
	width: 100%;
}

#capa3 img{
    width: 110px;
    height: 90px;
}
body {
  position: relative;
  width: 28cm;  
  height: 15cm; 
  margin: 0 auto; 
  font-family: sans-serif;
}
hr{
  visibility: hidden;
}

#capa5{
    position: absolute;
    top: 640px;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 2px
}

#copia{    
    left: 558px;
    position: absolute;
    width: 500px;
}

#capa6{
    z-index: 1;
    /* width: 404px; */
    top: 285px;
    position: absolute;
    left: 138px;
    font-size: 9.5px;
    text-align: right;
}
#capa6 td{
    min-width: 70px;
    height: 13px;
}

#capa7{
    z-index: 1;
    /* width: 404px; */
    top: 284px;
    position: absolute;
    left: 372px;
    font-size: 9.5px;
    text-align: right;
}
#capa7 td{
    min-width: 53px;
    height: 13px;
}
#total{
        z-index: 1;
    width: 100px;
    top: 439px;
    position: absolute;
    left: 377px;
    text-align: right;
    /* background-color: yellow; */
    height: 50px;
    font-size: 13px;
}

#letras{
    z-index: 1;
    top: 484px;
    position: absolute;
    font-size: 10px;
    left: 20px;
}

#fecha{
    z-index: 1;
    top: 515px;
    position: absolute;
    font-size: 11px;
    left: 229px;
}

#reu{
    z-index: 1;
    top: 213px;
    position: absolute;
    font-size: 12px;
    left: 240px;
}